

@charset "utf-8";

* { margin: 0; padding: 0; }
body { 
  font: 14px Georgia, serif;

 height: 100%;
    }

  #divid {
    width: 100%;
    height: 30px;
    background-color: #98B2FF;
    padding-top: 0px;
    color: #ffffff;
    font-weight: bold;
    font-size: 14px;
}

article, aside, figure, footer,  hgroup,
menu, nav, section { display: block; }

h2 { font: 24px Georgia; margin: 0 0 10px 0; }
h3 { margin: 0 0 8px 0; }
p { margin: 0 0 20px 0; }




@media all and (min-width: 1001px) {
  
  
}

@media all and (max-width: 1000px) and (min-width: 700px) {
  
  
}

@media all and (max-width: 699px) and (min-width: 520px), (min-width: 1151px) {
 
  
}









.writingclass4
{
  font-size: 10px;
 font-family: Arial, Helvetica, sans-serif;
  color: #000000;
}
.writingclass5
{
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: #5C85FF;
}
.writingclass3
{
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: #5C85FF;
  font-style: italic;
}
.partnerclass
{
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}


 .headerDiv {
    display: flex;
    justify-content: center;
}

.headerDiv2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


@media only screen and (max-width : 1567px) {


 }
@media only screen and (max-width : 1199px) {


}

@media only screen and (max-width : 991px) {
    

}

@media only screen and (max-width : 767px) {
     

}

@media only screen and (max-width : 480px) {


}

@media only screen and (min-width : 200px) {
     

.galClass
{
   max-height:100%; 
   max-width:100%; 
  
  
  overflow: hidden;
}

#footerid {
     text-align:center;
  padding-top: 15px;
  font: 14px Georgia, sans-serif;
  font-weight: bold;
}
.paneldiv
{
  
  font: 9px Arial, sans-serif;
  font-weight: bold;
  padding-top: 15px;
  text-align:center;
}
.imgclass { height: 350px; width: 100%; }
#contentDiv
{
 
 text-align:center;

 
}
#locat_align

{
background-color:#BED2F3;

}
#container {
    width:100%;
    margin:0 auto;
    padding-top: 30px;
    overflow: hidden
}

.writingclass1
{
display:none;
}
.writingclass2
{
display:none;
}

#content1 {
    float:left;
    width:200px;
}
#content2 {
    float:left;
    width:220px;
}
#content3 {
    float:left;
    width:340px;
}
#content4 {
    float:left;
    width:140px;

}
#imgcontainer
{
   width:100%;
    margin:0 auto;
    
    overflow: hidden
}

#imgcontent2 {
    float:left;
   width:70px;
    /*padding-left: 150px;*/
}
#imgcontent1 {
    float:left;
   width:50px;
    /*padding-left: 150px;*/
}
#imgcontent3 {
    float:left;
    width:50px;
}
#imgcontent4 {
    float:left;
   width:50px;
}
.logoClass
{
max-width:50%;
}
.logoClass1
{
max-width:50%;
}
.logoClass2
{
max-width:20%;
}
.lineclass
{
  
  padding-top: 5px;
  }
  .lineImg
  {
  max-width:100%;
}
}


















@media only screen and (min-width : 1024px) {
     

.galClass
{
   max-width: 100%;
   max-height: 100%;
  
  
  
}
#footerid {
     text-align:center;
  padding-top: 15px;
  font: 14px Georgia, sans-serif;
  font-weight: bold;
}
.paneldiv
{
  
  font: 9px Arial, sans-serif;
  font-weight: bold;
  padding-top: 15px;
  text-align:center;
}
.imgclass { height: 350px; width: 100%; }
#contentDiv
{
  width:50%;
 margin-left:25%;
 margin-right:25%;
 
}
#locat_align

{
background-color:#BED2F3;


}
#container {
    width:100%;
    margin:0 auto;
    padding-top: 30px;
    overflow: hidden
}

.writingclass1
{
display:none;
}
.writingclass2
{
display:none;
}

#content1 {
    float:left;
    width:200px;
}
#content2 {
    float:left;
    width:220px;
}
#content3 {
    float:left;
    width:340px;
	
}
#content4 {
    float:left;
    width:140px;

}
#imgcontainer
{
   width:100%;
    margin:0 auto;
    
    overflow: hidden
}

#imgcontent1 {
    float:left;
   width:200px;
    /*padding-left: 150px;*/
}
#imgcontent2 {
    float:left;
   width:200px;
   padding-left: 200px;
}
#imgcontent1 {
    float:left;
   width:200px;
    /*padding-left: 150px;*/
}
#imgcontent3 {
    float:left;
    width:200px;
}
#imgcontent4 {
    float:left;
   width:200px;
}
.logoClass
{
max-width:50%;
}
.logoClass1
{
max-width:50%;
}
.logoClass2
{
max-width:20%;
}
.lineclass
{
  
  padding-top: 5px;
  }
  .lineImg
  {
  max-width:100%;
}

}
